#network {
  width: 100%;
  height: 600px;
}
.leyenda {
  background-color: #39A3BB;
  border-radius: 5px;
  border: 1px solid rgba(183, 157, 157, 0.52);
  box-shadow: 0 0 50px rgba(206, 201, 201, 0.75);
  color: white;
  margin: 50px;
  padding: 50px;
}
header {
  background: #F69F01;
  color: white;
}
header h1 {
  margin: 0px;
  padding: 25px 0 0 0;
  text-align: center;
}
header h2 {
  color: #3F4904;
  font-size: 1.2em;
  font-style: italic;
  padding: 10px;
}
.table-header thead {
  background-color: #0B64BA;
  color: white;
}
.table-header thead th {
  text-align: center;
}
.localizacion .nodo-origen,
.localizacion .nodo-destino {
  border-radius: 50%;
  border: 3px solid black;
  clear: both;
  height: 50px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
}
.localizacion .panel-izq,
.localizacion .panel-der {
  float: left;
  padding: 20px 0;
}
.localizacion .panel-izq {
  border-right: 3px solid black;
  padding-right: 20px;
  width: 50%;
}
.localizacion .panel-der {
  border-left: 3px solid black;
  left: -3px;
  padding-left: 20px;
  position: relative;
  width: 50%;
}
.localizacion .popover-item {
  position: relative;
  margin: 20px 0;
  min-height: 9
        0px;
  display: block;
}
