extends layout.jade

block javascripts
    script(src="js/app.js")

block objetivo
    include objetivo.jade

block contenido
    
    
    div(class="row", style="margin-top: 30px;")
        pre
            legend Modelo
            