p Desarrollar la Interfaz de Usuario que le permita agregar los servicios disponibles en la terminal y asociarlos a un lugar dentro de un trayecto.
p Se crearon las siguientes funciones
ul
    li El ABM de las categorias de servicios y los servicios dentro de cada una.
    li Se importo el grafo que representa la nueva terminal para la asignación de los diferentes servicios.
    li Se creo la interfaz para que el usuario pueda establecer los servicios que estan ubicados en cada arco.