div(class="col-sm-5 localizacion", ng-hide="showForm()")
    h2(class="text-center text-muted", style="margin-top: 30px;")
        | Seleccione un arco para agregar los servicios que se ubican en el.
div(class="col-sm-5 localizacion", ng-show="showForm()")
    div(class="nodo-origen") {{ arcoEdit.from }}
    div(class="panel-izq") 
        div(ng-repeat="lugar in guiLugares.izq track by $index")
            div(ts-panel-servicio, direccion="left", listado-servicios="listadoServicios", lugar="lugar", remove="guiLugares.remove('izq', $index)")
        button(class="btn btn-success", ng-click="guiLugares.add('izq')") Agregar
    
    div(class="panel-der")
        div(ng-repeat="lugar in guiLugares.der track by $index")
            div(ts-panel-servicio direccion="right" listado-servicios="listadoServicios", lugar="lugar", remove="guiLugares.remove('der', $index)")
        button(class="btn btn-success", ng-click="guiLugares.add('der')") Agregar
    div(class="nodo-destino") {{ arcoEdit.to }}
    div(class="text-center", style="margin-top: 20px;")
        button(class="btn btn-primary", ng-click="guardar()", ng-hide="loader") Guardar
        img(src="img/loader.gif", ng-show="loader")


//- Template Panel de Servicios que utiliza la Directiva ts-panel-servicio
script( type="text/ng-template", id="panel-servicio.html")
    div(class="popover popover-item {{ direccion }}")
        div(class="arrow")
        h3(class="popover-title")
            button(class="item-remove", ng-click="remove()")
                i(class="glyphicon glyphicon-remove")
            div(style="margin-bottom: 3px;")
                select(class="form-control", ng-model="lugar.idCategoria", ng-change="updateSublistaServicios()")
                    option(ng-repeat="c in listadoServicios", value="{{ c.id }}") {{ c.nombre }}
            div(style="margin-bottom: 3px;")
                select(class="form-control", ng-model="lugar.idServicio")
                    option(ng-repeat="s in sublistaServicios" , value="{{ s.id }}") {{ s.nombre }}
            div(style="margin-bottom: 3px;")
                input(type="text", placeholder="Distancia", class="form-control", ng-model="lugar.distancia")
