div(class="col-sm-5 localizacion")
    legend Controles para agregar los servicios y locales comerciales al mapa de recorrido.
    div(class="nodo-origen") 154
    div(class="panel-izq") Panel Izquierdo
    div(class="panel-der") Panel Derecho
    div(class="nodo-destino") 689