div(class="col-sm-5 localizacion")
    legend Controles para agregar los servicios y locales comerciales al mapa de recorrido.
    div(class="nodo-origen") 154
    div(class="panel-izq") 
        div(ng-repeat="lugar in guiLugares.izq track by $index")
            div(ts-panel-servicio, direccion="left", listado-servicios="listadoServicios", lugar="lugar", remove="guiLugares.remove('izq', $index)")
        button(class="btn btn-success", ng-click="guiLugares.add('izq')") Agregar
    
    div(class="panel-der")
        div(ng-repeat="lugar in guiLugares.der track by $index")
            div(ts-panel-servicio direccion="right" listado-servicios="listadoServicios", lugar="lugar", remove="guiLugares.remove('der', $index)")
        button(class="btn btn-success", ng-click="guiLugares.add('der')") Agregar
    div(class="nodo-destino") 689

//- Template Panel de Servicios que utiliza la Directiva ts-panel-servicio
script( type="text/ng-template", id="panel-servicio.html")
    div(class="popover popover-item {{ direccion }}")
        div(class="arrow")
        h3(class="popover-title")
            button(class="item-remove", ng-click="remove()")
                i(class="glyphicon glyphicon-remove")
            div(style="margin-bottom: 3px;")
                select(class="form-control", ng-model="lugar.idCategoria", ng-change="updateSublistaServicios()")
                    option(ng-repeat="c in listadoServicios", value="{{ c.id }}") {{ c.nombre }}
            div(style="margin-bottom: 3px;")
                select(class="form-control", ng-model="lugar.idServicio")
                    option(ng-repeat="s in sublistaServicios" , value="{{ s.id }}") {{ s.nombre }}
            div(style="margin-bottom: 3px;")
                input(type="text", placeholder="Distancia", class="form-control", ng-model="lugar.distancia")
