div(class="col-sm-5 localizacion")
    legend Controles para agregar los servicios y locales comerciales al mapa de recorrido.
    div(class="nodo-origen") 154
    div(class="panel-izq") 
        div(class="popover left popover-item", ng-repeat="i in [1,2,3]")
            div(class="arrow")
            h3(class="popover-title")
                select(class="form-control")
                    option(value="0") Boleteria El Quiaqueño de La quiaca a jujuy
                    option(value="1") Boleteria Balut
            div(class="popover-content") Contenido
    div(class="panel-der")
        div(class="popover right popover-item")
            div(class="arrow")
            div(class="popover-content")
                select(class="form-control")
                    option(value="0") Boleteria El Quiaqueño de La quiaca a jujuy
                    option(value="1") Boleteria Balut
                input(type="number", class="form-control")
    div(class="nodo-destino") 689